[2015-02-06 00:24] tbetbetbe opened #8 "Add the common example protos"

[2015-02-09 18:10] #8 closed, assigned to tbetbetbe

[2015-02-11 18:26] ejona86 opened #13 "gRPC Java must be built with Gradle"
gRPC Java no longer has the Maven build. To build it you must use Gradle. This can be done by installing gradle or by using the gradlew or gradlew.bat (based on your OS) in the repo. Gradle will install into the Maven local repo just like Maven does, so this does not impact other projects using Maven.

[2015-02-13 19:03] murgatroid99 opened #15 "Some useful information about Markdown"
Markdown syntax highlighting has support for Protocol Buffers. [This file](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml) has a list of every supported language. You can get this by putting [`protobuf`](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml#L2330) in the code fence.

Custom link anchors (`<a name="something"></a>`) are not always nece

[2015-02-18 21:57] oaktowner opened #18 "Please replicate the Hello World in each language"
We should have a Hello World sample in C/C++, Java, Go, Python, Ruby, Node.js.

[2015-02-19 15:41] imjasonh opened #23 ""optional" keyword in example protos"
I was under the impression that all fields in proto3 are optional, and the keyword is ~meaningless. Can it just be removed from the example [helloworld.proto](https://github.com/grpc/grpc-common/blob/master/java/src/main/proto/helloworld.proto) entirely?

[2015-02-19 16:15] #23 closed, assigned to nobody

[2015-02-20 18:03] LisaFC opened #32 "Add gRPC concepts doc"
More detailed information on gRPC concepts such as architecture, RPC types/life cycle,

[2015-02-20 18:03] LisaFC opened #33 "gRPC authentication doc"
Using auth with gRPC - examples in available languages.

[2015-02-20 18:06] LisaFC opened #34 "Tuning RPC behaviour doc"
RPC configuration options and what they do

[2015-02-20 18:09] yang-g opened #35 "Change sayHello to SayHello in helloworld.proto"

[2015-02-20 22:56] LisaFC opened #38 "Create proto2 Hello World example"

[2015-02-23 10:51] LisaFC opened #48 "README_NEW and other structure getting confusing for users"
The README_NEW doc that's been added to the repo over the weekend is basically directing users away from the existing README/Overview and straight into language-specific docs. There is also a C++ Hello World that we don't particularly need (or rather, we need a C++ Route Guide tutorial a lot more).

I think there's also some misunderstanding about the role of the existing README - it is _not_ a "H

[2015-02-23 17:34] tbetbetbe opened #51 "Add route guide documentation and sample in each language"

[2015-02-23 22:45] #48 closed, assigned to nobody

[2015-02-24 11:24] LisaFC opened #56 "C++ quickstart needs to specify proto3 protoc as a prerequisite"

[2015-02-24 23:54] gainward opened #64 "developers.google.com docs should be updated for proto3"
Unsure if you guys wanted this bug here or elsewhere, but there are some changes from proto2->3 that should probably be communicated on d.g.c. Stuff like removal of 'required', addition of maps, etc.

[2015-02-25 07:34] yang-g opened #67 "Ruby setup failed"
bundle install failed on me ... maybe I did something wrong?
The machine is ubuntu with grpc c installed and protobuf 3.0.0 installed too, if that matters.

$ bundle install
Fetching gem metadata from https://rubygems.org/.........
Fetching version metadata from https://rubygems.org/..
Resolving dependencies...
Installing addressable 2.3.7
Installing extlib 0.9.16
Installing multipart-post 2.0.0
I

[2015-02-25 19:24] oaktowner opened #75 "Main readme.md has TODO"
https://github.com/grpc/grpc-common/blob/master/README.md has a section labeled TODO: Diagram?

Is there a plan to include a diagram? Or should we just retitle that section?

[2015-02-25 21:49] oaktowner opened #80 "Replace INSTALL with apt get grpc"
In the Node.js sample, replace the INSTALL (and build) of the grpc binaries with an apt get grpc as soon as the package is available.

[2015-02-25 22:08] LisaFC opened #81 "Should update protoc example in main README"
Example currently just shows running a (possibly not up to date) protoc command from the command line, should probably be changed to use gradle build from grpc-java repo (though still show explicit protoc command).

[2015-02-26 00:40] oaktowner opened #91 "Ruby README not clear"
In the PREREQUISITES section, it's not clear if you _only_ need to run the curl command if you do not have Ruby 2.1 or not.

If it is true that, if you have Ruby 2.1, you do not need to run that command, the first sentence should be "This requires Ruby 2.1, as the gRPC API surface uses keyword args. If you do have Ruby 2.1, go to the Install section"

Also: the command is strange. Is it two lines

[2015-02-26 00:42] oaktowner opened #92 "Ruby HelloWorld fails"
Running through the Ruby Hello World, when execute

gem install bundler && bundle install

I get:

You don't have write permissions for the /usr/local/rvm/gems/ruby-2.1.1 directory.

No amount of sudo-ing seems to help. Environment problem, or README problem?

[2015-02-26 06:35] mugurm opened #100 "Many references to Stubby should probably be removed."
This repository contains many references to Stubby. See:
https://github.com/grpc/grpc-common/search?utf8=%E2%9C%93&q=stubby

@tbetbetbe @LisaFC Should these be removed / replaced?

[2015-02-26 15:42] #100 closed, assigned to tbetbetbe

[2015-02-26 16:24] #13 closed, assigned to tbetbetbe

[2015-02-26 16:27] #35 closed, assigned to tbetbetbe

[2015-02-26 16:29] #18 closed, assigned to tbetbetbe

[2015-02-26 17:03] #67 closed, assigned to tbetbetbe

[2015-02-26 17:03] #91 closed, assigned to tbetbetbe

[2015-02-26 17:03] #92 closed, assigned to tbetbetbe

[2015-02-26 19:11] hegemonic opened #120 ""gRPC Authentication Support" link in README doesn't work"
This link, in the "Read More!" section, leads to a 404 for me.

[2015-02-26 21:29] tbetbetbe commented on #120
Fixed in #122

[2015-02-26 21:29] #120 closed

[2015-02-27 01:15] nathanielmanistaatgoogle opened #129 "Python READMEs"
There's one in python/helloworld, one for python/route_guide in code review, and there should be one at python.

[2015-02-27 01:44] iamqizhao opened #131 "gotutorial tech writer"
@LisaFC

Hi Lisa,

It would be highly appreciated if you can help take a look at grpc/grpc-common/go/gotutorial.go. Thanks!

[2015-02-27 06:29] ryanseys commented on #80
Are there going to be Mac binaries available as well? I'm running into an issue while attempting to `npm install` that might be fixed with a binary or installation of the appropriate libraries.

[code]

[2015-02-27 06:56] thagikura opened #132 "Use gradle for android sample's build"
As for the Android sample https://github.com/grpc/grpc-common/tree/master/java/android,
building an app by gradle is a de-facto standard for Android apps rather than copying the libraries manually.

Is there any reason you don't use gradle for that sample?

[2015-02-27 14:47] nbeckman opened #133 "C++ Helloworld example uses CreateChannelDeprecated"
I'm looking at this example
https://github.com/grpc/grpc-common/blob/master/cpp/helloworld/greeter_client.cc#L83

And it uses the CreateChannelDeprecated function. Is there a newer, non-deprecated function that could be used? It might be more appropriate for an example that will likely get copy and pasted lots of times.

Thanks!

[2015-02-27 15:01] ctiller commented on #133
Hey - we're in the process of updating that API. The update is in grpc/grpc#835 if you want to take a peek. Hopefully the change lands in the coming week or two.

We'll definitely update examples once that happens.

[2015-02-27 15:33] nbeckman commented on #133
Hi Craig, sounds good! Thanks.
I'll keep an eye on the PR and maybe check back again after it has gotten in.

[2015-02-27 16:41] LisaFC commented on #131
About to send a PR - quick question first:
- What's the difference between SendAndClose() (used in the client-side streaming method on the server) and CloseSend() (used in the bidirectional streaming method on the client)?

[2015-02-27 17:32] LisaFC commented on #81
Done.

[2015-02-27 17:32] #81 closed

[2015-02-27 17:32] LisaFC commented on #56
Covered in install instructions

[2015-02-27 17:32] #56 closed

[2015-02-27 19:08] iamqizhao commented on #131
Thanks.

On Fri, Feb 27, 2015 at 8:41 AM, LisaFC <notifications@github.com> wrote:

its side.  SendAndClose()  sends the last proto message and return (no
further message can be sent after this call.).

[2015-02-27 21:36] #132 closed

[2015-02-28 18:12] crawshaw opened #141 "Missing proto3 specification"
There does not appear to be a document that describes the proto3 syntax (only a transition document describing what's changed since proto2). Such a document would be very helpful for those new to gRPC.

[2015-02-28 19:01] LisaFC commented on #141
Full proto3 documentation will be provided soon, starting with the language
reference.
On 28 Feb 2015 18:12, "David Crawshaw" <notifications@github.com> wrote:

[2015-03-01 09:49] boosh opened #142 "Add docs on how to structure code for a new project"
I've gone through the Java tutorial, but I'm not clear on how to structure my code for a new project. Say I want to create a new mobile project, I'd want to create 4 new git repos (I guess) for the common code, Java server, Android client & iOS client.

It'd be useful to document how to organise code in this situtation in Intellij so that each repo only referenced the necessary code/dependencies.

[2015-03-02 18:31] louiscryan commented on #142
When we start releasing artifacts we'll make sure the Android one has a minimal dependency set, it's something we're actively working on (i.e. no Netty libraries etc.)

Not being an expert on Obj-C I don't know how we would structure things so the library is minimal for iOS while also supporting OSX in a reasonable fashion.

We do recommend that people keep their protobufs in a single central loca

[2015-03-02 21:40] boosh commented on #142
OK that sounds great. I guess sharing the proto files somehow would be sufficient.

The main thing I'm not sure about after checking out the grpc-java repo is whether I need to create my java server as a subdirectory in that repo (and if so what the upgrade path would be since I'd have to fiddle with git submodules, etc.), or could I create another top-level git repo and configure maven/gradle to

[2015-03-02 21:55] louiscryan commented on #142
No need to add your code to a clone of our repo. You can use ./gradlew install to have artifacts added to your local Maven repo which you can then refer to from other projects.

i.e.
 ~/.m2/repository/io/grpc/grpc-all/0.1.0-SNAPSHOT/grpc-all-0.1.0-SNAPSHOT.jar

 We're working on tidying this up now and provide releases to the central Maven repo's soon and will updated the samples to use them.

The

[2015-03-03 02:11] lwmonster opened #143 "Functions about grpc"
hi :

I've gone through the cpp tutorial, and I didn't find any other further docs. So what I want to know are:
1、 Is grpc easy to deploy a distributed server cluster?
2、 If 1 is yes then does the cluster support Load Balancing ?
3、 Dose it support  HA by doing a config?

BTW:
     Is there a maillist or mail group about grpc?  I didn't find.

Thank you very much~

[2015-03-03 04:46] nicolasnoble commented on #143
If you want more live discussions, you can find pointers to our IRC channel and mailing lists here: http://www.grpc.io/contribute/

[2015-03-03 06:00] lwmonster commented on #143
OK， Thank You, found it.

I haven't read the source code, and I didn't found the detailed docs,  so can you tell me about the questions above?
Mostly about the Load Balancing and HA ~~

Very grateful for your reply!!!

[2015-03-03 07:17] louiscryan opened #144 "Create snippet showing to use HAProxy as load-balancer"
Should be realtively straightforward for HAProxy. Largely following the recipe here

https://www.igvita.com/2012/10/31/simple-spdy-and-npn-negotiation-with-haproxy/

but adjusting for HTTP2 and ALPN.

Currently nghttp2 does not support multiple http2 backends but if it did we should have a recipe for that.

[2015-03-03 08:09] boosh commented on #142
Thanks I hadn't realised I could do `./gradlew install` and then add the jar to my pom in another project.

[2015-03-03 08:09] #142 closed

[2015-03-04 19:47] carlosvin opened #145 "cannot compile helloworld example"
/usr/bin/ld: warning: libgpr.so.0, needed by /usr/local/lib/libgrpc.so, not found (try using -rpath or -rpath-link)
After previous line errors with missing references for gpr_split_host_port, gpr_timespec_to_micros, etc.

I'm just following this tutorial https://github.com/grpc/grpc-common/tree/master/cpp

[2015-03-04 19:53] nicolasnoble commented on #145
This would indicate you didn't install grpc. Did you ?

[2015-03-04 22:37] carlosvin commented on #145
Yes, I did.
 $ git clone https://github.com/grpc/grpc.git
 $ cd grpc
 $ git submodule update --init
 $ make
 $ sudo make install

[2015-03-04 23:08] nicolasnoble commented on #145
Hm, interesting. Could you provide the output of ldd /usr/local/lib/libgrpc.so.0 ? Also verify that libgpr.so is properly present in /usr/local/lib - It seems that for some reasons, your system can't find the dependencies properly, which is very odd if it can find libgrpc.so but not libgpr.

Could you also try running sudo ldconfig ? This should refresh your library cache. This is run by the Makef

[2015-03-05 07:44] carlosvin commented on #145
I don't have the output now, in as soon as I get my laptop I'll send it.

Meanwhile, maybe the problem is in Makefile: https://github.com/grpc/grpc-common/blob/master/cpp/helloworld/Makefile

LDFLAGS = -L/usr/local/lib -lgrpc -lgrpc++ -lprotobuf -lpthread -ldl

lgpr is not there. By the way, what this library is for?

[2015-03-05 17:45] nicolasnoble commented on #145
Adding -lgpr here shouldn't hurt (and it fact would be needed in case someone installed the static libraries - plus it's probably a general good practice in that case), but I'd be surprised if it'd help. Basically, libgrpc.so depends on libgpr.so, so loading libgrpc.so should trigger a cascade loading of libgpr.so. Your error message says that libgrpc.so couldn't find libgpr.so when being loaded.

[2015-03-06 23:21] vjpai opened #150 "FAQ responses needed for these items"
1. Why use HTTP/2 transport rather than raw TCP?
2. Why does application-layer need its own flow control? Doesn't TCP flow control itself take care of all these problems?

[2015-03-09 14:39] acasajus opened #152 "Add header to distiguish between grpc streams and others"
It would be nice if there was an explicit and required way in the grpc streams to distinguish them from others (for instance normal web traffic). This way a single port could serve a web page and the services via grpc. Options that come to mind are:

 - Either add a header to all grpc stream (grpc-stream or grpc-version or something like that)
 - Use a special method (like grpc) in the :method hea

[2015-03-10 14:25] sahlberg commented on #133
This can be close now that https://github.com/grpc/grpc-common/pull/151
is merged ?

[2015-03-10 14:30] nbeckman commented on #133
Yep, thanks!

[2015-03-10 14:30] #133 closed

[2015-03-11 00:38] murgatroid99 opened #154 "Cannot compile cpp/helloworld"
I get the following output from make:

[code]

I get substantially similar output when I try to build the `cpp/route_guide`

[2015-03-11 01:33] nicolasnoble commented on #154
Are you on the latest grpc codebase? This is an API we introduced recently.

[2015-03-11 16:20] murgatroid99 commented on #154
Yes, that was the problem. I thought I had a more recent version installed than I actually did.

[2015-03-11 16:20] #154 closed

[2015-03-12 15:23] ejona86 opened #156 "Protoc for Android documentation"
There doesn't seem to be any documentation anywhere on how to run protoc for Android. The javatutorial doesn't use nano proto, so the protoc command documented there doesn't work. We need to add some documentation that provides a command similar to the comment in https://github.com/grpc/grpc-java/commit/dcff315dc3ae17f3eefbdaa262add0f7dbe551ec

[2015-03-12 15:27] LisaFC commented on #156
I'm working on a proto3 update to the proto docs at the moment - haven't got into language specific docs but the general language guide will have instructions on how to run protoc for each supported language, inc Nano. Hoping to get it finished soon. Will be in the devsite protobuf site rather than here, as it's not just gRPC-applicable.

[2015-03-12 15:29] ejona86 commented on #156
That sounds great. After that is done we can reference it, but then still include an example command line, because it does require multiple flags that are non-obvious (passing nano=true to grpc, and ignore-services=true to nano)

[2015-03-12 18:13] zsurocking commented on #156
We have an nano protoc commandline example at the bottom of the page: https://github.com/grpc/grpc-java/tree/master/compiler

I can also mention that in Android helloworld example

[2015-03-12 18:33] ejona86 commented on #156
@zsurocking, ah, right. Given that someone looking at the Android example would have trouble finding that, it probably makes sense to also add it to the example.

[2015-03-14 15:32] boosh commented on #156
@zsurocking The nano protoc command at the bottom of the page you linked to only generates the *Grpc class, but not the *Request classes when I run it against my project.

I.e. my version of the file https://github.com/grpc/grpc-common/blob/master/java/android/app/src/main/java/io/grpc/helloworldexample/GreeterGrpc.java IS generated, but my version of the file  https://github.com/grpc/grpc-common/

[2015-03-14 16:07] pokerG commented on #156
@boosh  you can use(Change to the `grpc-java` directory)

<pre><code>protoc --plugin=protoc-gen-java_rpc=compiler/build/binaries/java_pluginExecutable/java_plugin--java_rpc_out=nano=true:"examples/build/generated-sources/main/" --proto_path="examples/src/main/proto/ --
javanano_out=ignore_services=true:examples/build/generated-sources/main/ examples/src/main/proto/helloworld.proto</code></pre>

ad

[2015-03-14 20:23] boosh commented on #156
@pokerG Perfect, thanks!

[2015-03-14 23:57] boosh opened #157 "Make it possible to use a Java nano client to test a Java server"
I want to implement a Java nano client at the same time as a Java server. So I've set up a multi-project gradle repo with the subprojects 'client', 'server' and 'shared':

- the 'client' subproject contains a Java nano client
- the 'server' subproject contains a Java server
- the 'shared' subproject just contains my .proto file.

I've created a test class in my 'server' subproject called TestServe

[2015-03-15 10:43] emaxin opened #158 "How to use curl as client"
After build grpc-common/cpp/helloworld, I use curl to send request like this:
[code]

in greeter_client side it prints out:
[code]

in greeter_server side it prints out:
[code]

I have not got "Hello world" message.

Could some body help me find what is wrong?

[2015-03-16 15:44] jhump commented on #158
@emaxin, `curl`, unfortunately, won't be this easy to use. You've specified a content-type (as required) of "application/grpc+json" but the actual data you pass is just plain ol' "application/json".

See here for the format of the payload: https://github.com/grpc/grpc-common/blob/master/PROTOCOL-HTTP2.md#requests. In particular, look at the *Delimited Message* item as that is describes the request

[2015-03-16 15:49] jhump opened #159 "Getting gRPC to work from a web browser."
Relevant discussion on mailing list: https://groups.google.com/d/topic/grpc-io/5Ic8MKgltwY/discussion

[2015-03-16 18:10] acasajus commented on #159
It's probably already tought of/discarded, but why not use websockets as the connection and send/receive http2 frames over it?

[2015-03-17 00:37] louiscryan commented on #159
Could certainly do that though it would increase the complexity in the browser significantly as we'd have to provide the HTTP2 framing layer which most browsers already have.

If we sat on top of XHR/WHATWG Fetch we don't get to interact with flow-control which is a double-edged sword

[2015-03-17 00:38] louiscryan commented on #152
We handle this by mandating a Content-Type of "application/grpc". Is that insufficient

[2015-03-17 00:41] louiscryan commented on #143
Just for posterity as we discussed this on the IRC channel.

1 - Yes, you can use HAProxy to do load-balancing. Will provide a recipe for that soon and client-side load balancing is on the roadmap. Other LBs should work, need to do testing.
2. See above.
3. Aside from LB what other HA features do you have in mind? Healthchecking is also on the roadmap.

[2015-03-17 08:18] vnitinv opened #161 "run server and then client in document"
https://github.com/grpc/grpc-common/tree/master/python/helloworld#the-server

should be referenced before

https://github.com/grpc/grpc-common/tree/master/python/helloworld#the-client

programmer should take care of running server first and then client. But if we just follow this doc blindly end up running client without server and hence client errors out.

Hence it would be better to change the o

[2015-03-17 12:31] acasajus commented on #159
What do you mean? How does the XHR/WHATWG Fetch relate to http2?

[2015-03-17 12:35] acasajus commented on #152
Oops. I missed that in
https://github.com/grpc/grpc-common/blob/master/PROTOCOL-HTTP2.md

Cheers,

[2015-03-17 12:35] #152 closed

[2015-03-17 12:40] emaxin commented on #158
Thanks jhump for explaining in detail !
Sorry I'am new to grpc. Does that mean I can only use grpc wrapper call as client other than using some build-in function call of certain language to access to grpc server? Could you please give me some sugestion?

[2015-03-17 13:31] paperstreet opened #162 "protobuf v3.0.0-alpha-2 is in Homebrew now"
Not sure if you're interested in mentioning this in the docs, but protobuf v3.0.0-alpha-2 is now in [Homebrew](http://brew.sh/), a popular OS X package manager. It makes it a lot easier to install from source.
    brew update && brew install --devel protobuf

[2015-03-17 14:37] jhump commented on #158
@emaxin, I think it would be better to use the client library instead of re-building the protocol details on top of simpler primitives. It may be worth filing a new issue to implement something like `grpc-curl`, to potentially make troubleshooting a server easier.

[2015-03-17 14:42] #158 closed

[2015-03-17 14:46] emaxin commented on #158
@jhump I see and follow your sugestion. thanks

[2015-03-17 23:50] louiscryan commented on #162
cool. we're working on a comprehensive fix to this problem for folks but you might want to submit a PR on the protobuf repo showing folks how to use this.

@jcanizales

[2015-03-17 23:53] louiscryan commented on #159
Fetch will provide an API for HTTP semantics on top of http/1.1 or http/2 depending on what the browser was able to negotiate with the host as the transport. Given that http/2 allows for full-duplex the API needs to be able to express that even if the transport it's bound to does not.

[2015-03-18 01:15] jcanizales commented on #162
Awesomeness!

What took me longest to figure out in order to install it was the it's necessary to add
[code]
to your environment. I've only _used_ Homebrew, but I hope it can modify a user's `.bash_profile`?

@tbetbetbe

[2015-03-18 10:26] Juzley opened #163 "Python helloworld client: "RPC write not accepted""
I'm trying to run the python hello world examples on a fresh ubuntu 14.04 install, but running into an issue with the client not being able to send RPCs to the server. Here's the log:

~/grpc-common/python/helloworld$ python greeter_server.py  &
[1] 26449
~/grpc-common/python/helloworld$ netstat -a | grep 50051
tcp6       0      0 [::]:50051              [::]:*                  LISTEN
~/grpc-commo

[2015-03-18 21:22] nathanielmanistaatgoogle commented on #163
Yep - the Python API has undergone some changes in the last two weeks and I'm not sure that the example code has stayed current. Look for a fix in the next few days.

[2015-03-21 08:35] ttencate opened #166 "Which protobuf implementation for Android, java or javanano?"
In the [Android example](https://github.com/grpc/grpc-common/blob/master/java/android/app/src/main/java/io/grpc/helloworldexample/HelloworldActivity.java#L63), I see:

[code]

I gather that this means it uses the ["javanano" implementation](https://github.com/google/protobuf/blob/v3.0.0-alpha-2/javanano/README.txt) of protocol buffers, which uses public fields and mutable messages.

However, when

[2015-03-21 08:48] ttencate commented on #166
Sorry, this is probably a duplicate of #156.

[2015-03-21 08:48] #166 closed

[2015-03-28 22:42] insasho opened #170 "go examples do not compile"
https://github.com/grpc/grpc-common/blob/master/go/README.md suggests that `go get -u github.com/grpc/grpc-common/go/greeter_client` should compile cleanly. It does not.

Steps to repeat:
[code]

Results: The package fails to compile with the following error:
[code]

Expected: The package should build.

[2015-03-28 22:46] iamqizhao commented on #170
We recently updated the codegen plugin. But this is the one we left. will
update it shortly. Thanks for letting us know.

On Sat, Mar 28, 2015 at 3:43 PM, insasho <notifications@github.com> wrote:

[2015-03-28 22:59] iamqizhao commented on #170
fixed by #171

[2015-03-28 22:59] #170 closed

[2015-03-31 16:14] LisaFC opened #172 "Python examples use proto2"
Only just spotted this - is there a reason for this that I missed somewhere? I'm currently updating the protocol buffers docs and warning people off using gRPC with proto2 unless they absolutely have to because of compatibility issues with proto3.

[2015-03-31 16:19] LisaFC commented on #172
Actually, I tell a lie, the Hello World is proto3 but the Route Guide seems to be proto2, unless there are multiple versions of the proto in the repo.

[2015-03-31 17:02] nathanielmanistaatgoogle commented on #172
I am completely agnostic on the matter and happy for explicit-support-for-one-particular-proto-version to be decided by someone else.

If cross-language policy favors proto3 I'm perfectly happy to see Python updated to conform to that. :-)

[2015-03-31 18:03] LisaFC commented on #172
@tbetbetbe, we should change this to proto3, yes?

[2015-03-31 21:20] bluebird75 opened #173 "Non existent windows / Visual Studio documentation"
Documentation for Windows / Visual Studio is non-existent. There are vsprojects files, which is nice. The file do compile things, which is good. However, nowhere is there help on how to fix problems and what to expect. Please address the following hiccups :

# Comping gRPC #
* compiling fails on missing openssl includes
* solution : run build_openssl_x86.bat in a command-line with visual studio.
t

[2015-03-31 22:09] tbetbetbe commented on #172
yes please!

On 31 March 2015 at 11:03, LisaFC <notifications@github.com> wrote:

--
This email may be confidential or privileged.  If you received this
communication by mistake, please don't forward it to anyone else (it may
contain confidential or privileged information), please erase all copies of
it, including all attachments, and please let the sender know it went to
the wrong person. Thanks.

[2015-04-02 14:29] LisaFC commented on #172
Had just changed the .proto in the route_guide directory to proto3 in my version of the repo, then realized that what in fact we should do is just have the Python example use the .proto in the protos directory....

[2015-04-02 14:49] #131 closed

[2015-04-02 14:51] LisaFC commented on #172
Ok, see #174 for update.

[2015-04-03 16:29] louiscryan commented on #159
FYI

https://github.com/whatwg/fetch/issues/34

[2015-04-13 14:29] luyi0619 opened #178 "cannot compile helloworld on my mac"
~/grpc-common/cpp/helloworld ⮀ ⭠ master  ⮀ make helloworld.grpc.pb.cc helloworld.pb.cc
protoc -I ../../protos --grpc_out=. --plugin=protoc-gen-grpc=`which grpc_cpp_plugin` ../../protos/helloworld.proto
protoc -I ../../protos --cpp_out=. ../../protos/helloworld.proto
 ~/grpc-common/cpp/helloworld ⮀ ⭠ master  ⮀ make
g++ -std=c++11 -I/usr/local/include -pthread  -c -o helloworld.grpc.pb.o helloworld.

[2015-04-14 05:10] yang-g commented on #178
With pull request #179 and a fresh "make install" of grpc, I am able to build the client and server. Could you give it a try?

ps. I got run time errors but that could be a separate issue.

[2015-04-14 09:24] luyi0619 commented on #178
@yang-g I can compile now, but encounter the runtime error too ...

[2015-04-19 02:33] anzw opened #181 "compile cpp/helloword falied use vs2013"
[code]

[2015-04-19 02:47] anzw commented on #181
error C4996 disappeared when added _SCL_SECURE_NO_WARNINGS, but error C2664 cannot be solved

[2015-04-21 09:24] FrankSnail commented on #145
I  also encountered problem,there were several messages like '/usr/bin/ld: cannot find -lgrpc++_unsecure',but I found the corresponding file libxx.so in the $GRPC_ROOT/libs/opt directory for each lost -libxx.then I created a soft link for each .so file in /usr/lib by  command 'sudo ln -s  $GRPC_ROOT/libs/opt/libxx.so /usr/lib/libxx.so ', the problem was then solved.
there is a better way to solve

[2015-04-21 16:20] tbetbetbe opened #183 "Add a simple sample demonstrating gRPC python authentication"
Update [the auth document](https://github.com/grpc/grpc-common/blob/master/grpc-auth-support.md) with a python snippet, similar to the C++, Ruby and Node snippets.

[2015-04-23 19:21] saberwolf2015 commented on #173
I have a same problem. Does anybody know how to build this plugin or how to build test example in grpc-common under Windows (visual studio 2013 c++)?

[2015-04-23 20:10] jtattermusch commented on #173
The VS project have recently been refactored and I also added a short howto here: https://github.com/grpc/grpc/tree/master/vsprojects. You should no longer have trouble with openssl dependency.

[2015-04-23 20:28] saberwolf2015 commented on #173
I dont have a problem with openssl dependency, just i cant compile proto file to c++ class with grpc support because it need grpc_cpp_plugin, on linux that plugin successfully created and located in {path to grpc}/grpc/bins/opt/. But under windows we cant find it. Bui it neeeded to compile protobuf with grpc support: example from grpc-common:
protoc -I ../../protos/ --cpp_out=. --grpc_out=. --plug

[2015-04-23 20:30] nicolasnoble commented on #173
Did you notice the plugin was available in binary form on each release ?

https://github.com/grpc/grpc/releases/tag/release-0_6_0

[2015-04-24 17:50] ejona86 opened #185 "grpc spec: content-type should be required for requests"
The spec currently has content-type as optional for requests, but that means there isn't a way to know that client is a grpc client.

[2015-04-24 23:15] saberwolf2015 commented on #173
Thank you, got it! Now i can compile protofile to c++ class with grpc, this way:
protoc -I c:\grpc\ --cpp_out=. --grpc_out=. --plugin=protoc-gen-grpc=c:\grpc\grpc_cpp_plugin.exe c:\grpc\helloworld.proto
And got helloworld.pb.h and helloworld.pb.cc

By the way, methods on page https://github.com/grpc/grpc-common/tree/master/cpp/helloworld
$ protoc -I ../../protos/ --grpc_out=. --plugin=protoc-gen-g

[2015-04-24 23:38] nicolasnoble commented on #173
Argh, okay :-D

So long story short here, you're using an outdated plugin while being on the "master" release of grpc. I should've thought of that when pointing you at the binary version of the plugin in the release. For a bit more details, see [this post on grpc.io](https://groups.google.com/forum/#!msg/grpc-io/c7NT5Y4jnCE/sstvQW9dwqsJ).

Which means you HAVE to compile your own plugin here... Ex

[2015-04-25 19:09] saberwolf2015 commented on #173
Thank you for fast and correct answer. I compiled plugin and got exe file.
Now new way of c++ code generation from protobuf declaration works as expected:

protoc -I c:\grpc\ --grpc_out=. --plugin=protoc-gen-grpc=c:\grpc\grpc_cpp_plugin.exe c:\grpc\helloworld.proto

protoc -I c:\grpc\ --cpp_out=. c:\grpc\helloworld.proto

Now i also can make obj files (need compile with /MD or we get error "error

[2015-04-28 00:50] jtattermusch commented on #173
The ReadFile Overlapped error probably indicates that the connection has been reset (because client has disconnected).  But the error message is strange indeed.
Actually, our current progress with gRPC on windows is that calls from client succeed, but server has trouble handling its own shutdown and connections being closed by client (see bugs #546 and #1346).

Can you try to debug greeter_server

[2015-04-28 07:58] saberwolf2015 commented on #173
Almost forgot to mention, to avoid error
error C2664: 'void std::_Func_class<_Re
t,ServiceType *,grpc::ServerContext *,const RequestType *,ResponseType *>::_Set(std::_Func_base<_Ret,ServiceType *,grpc:
:ServerContext *,const RequestType *,ResponseType *> *)' : cannot convert argument 1 from '_Myimpl *' to 'std::_Func_bas
e<_Ret,ServiceType *,grpc::ServerContext *,const RequestType *,ResponseType *

[2015-04-28 16:05] nicolasnoble commented on #173
Yep, that makes sense. There is clearly a refcounting issue if the OS is
closing the socket instead of our code.

On Tue, Apr 28, 2015 at 12:58 AM, saberwolf2015 <notifications@github.com>
wrote:

[2015-04-29 23:00] murgatroid99 opened #191 "The Ruby helloworld client and server crash on startup"
In the Ruby helloworld example, both the client and server fail with the error

[code]

[2015-04-30 12:08] tbetbetbe commented on #191
FYI: That's because we have not updated the instructions for how to install gRPC.
We did not build a deb for release 0.6.0, and instead are relying on a new packaging system for developers
That should be published in the next few days, and this bug will be resolved then.

[2015-04-30 15:38] murgatroid99 commented on #191
I was actually building against gRPC HEAD, not a deb package.

[2015-04-30 17:42] #191 closed

[2015-05-08 02:15] zeliard opened #196 "C# examples and Nuget packages?"
Are there any csharp grpc examples (helloworld, route_guide, or so) which use protobuf 3.x?
If so, could you upload those examples into this grpc-common repo?

And, is there any plan to register grpc.core prereleases to nuget.org?

[2015-05-08 18:36] jtattermusch commented on #196
We are planning to add the helloworld example for C# to grpc-common very soon. It will use a gRPC C# nuget package that we will publish along with it, so stay tuned.

regarding protobufs:
We are planning to use the C# protobufs from https://github.com/google/protobuf/tree/csharp. They will support proto3 in the future (but currently they only support proto2 syntax).

[2015-05-08 20:36] tbetbetbe commented on #162
FYI: there is a grpc homebrew repo: grpc/grpc-homebrew#11

Until gRPC reaches 1.0 and protobuf v3 leave alpha, we'll be maintaining a formula there along with a helper script to simplify installation.

I will close this issue as we tracking homebrew packaging at grpc/grpc#1210

[2015-05-08 20:36] #162 closed

[2015-05-09 02:57] zeliard commented on #196
@jtattermusch cool! I'm looking forward to it!

[2015-05-13 17:58] ejona86 opened #198 "Add to HTTP2-grpc spec client should RST_STREAM if it receives END_STREAM before half closing"

[2015-05-13 22:29] larsonmpdx opened #199 "cpp route_guide server does not service multiple connections at once"
I compiled grpc from git 0fff02c (13 may 2015) and used grpc-common git d03233e (7 may 2015)

compiled on gcc 4.8.2 targeting x86_64 (linux)

when I run route_guide_server and connect with route_guide_client it works fine.  it takes 10 seconds to run because of the random delays put into RecordRoute() (this is normal).  Before it finishes, if I launch a second route_guide_client, client 2 doesn't

[2015-05-14 07:06] yang-g commented on #199
I cannot reproduce it on my local machine with an up-to-date grpc and grpc-common code. The two clients run fine. Could you double check whether the problem exists after syncing up the code?

[2015-05-14 14:59] larsonmpdx commented on #199
thank you for checking, I am looking into this on a fresh install

[2015-05-14 15:44] larsonmpdx commented on #199
I get the same behavior on AWS debian with gcc 4.7.2 and a fresh install of an ubuntu 14.04 VM (what I was using before) with a pull from this morning.  client 2 runs correctly but hangs at its first RPC until client 1 is finished.  I wonder if it's some IP problem when running two clients and a server on the same machine?  What's your local setup? I can try to replicate that

[2015-05-14 18:44] larsonmpdx commented on #199
I got a simplified server building in vs2013 and it works correctly, requests from many clients are interleaved.  I'm going to try debian 8 next

[2015-05-14 20:21] larsonmpdx commented on #199
ok, same story in debian 8.  here's a screenshot, client 1 on the left starts and sends a message with 1s delays.  the server is set to echo the messages back.  client 2 on the right does the same thing, and is able to send messages but gets no replies until client 1 finishes (after 6 seconds).  then it gets its backlog and is interactive as it should be

![image](https://cloud.githubusercontent.c

[2015-05-14 20:53] yang-g commented on #199
Was the experiment on a vm? How many cpus did the vm have?

On Thu, May 14, 2015 at 1:22 PM, larsonmpdx <notifications@github.com>
wrote:

[2015-05-14 20:55] larsonmpdx commented on #199
yes - 1

[2015-05-14 20:59] larsonmpdx commented on #199
ok, you got it, I changed # of cores to 2 and it can now service 2 clients, the third hangs

[2015-05-14 21:06] yang-g commented on #199
Yes I think the reason is because the server only has one thread. We use
the number of cpus as the default thread pool size. See
https://github.com/grpc/grpc/blob/master/src/cpp/server/server_builder.cc#L91
. You can increase "cores" to solve the issue too.

On Thu, May 14, 2015 at 1:59 PM, larsonmpdx <notifications@github.com>
wrote:

[2015-05-14 21:10] yang-g commented on #199
I am closing this since we seem to understand the cause.

[2015-05-14 21:10] #199 closed

[2015-05-14 21:10] larsonmpdx commented on #199
thanks for figuring this out.  are you planning on adding another threading model to support spawning new threads as clients connect (like thrift's TThreadedServer)?

[2015-05-14 21:11] nicolasnoble commented on #199
There was some talks about dynamic thread pools, yes. Nothing concrete yet however.

[2015-05-15 00:59] futureperfect opened #201 "Node.js instructions are Debian-only"
[Instructions for Node.js Quickstart](https://github.com/grpc/grpc-common/blob/master/node/README.md) are currently Debian-only

[2015-05-15 13:44] jgaa opened #202 "Compilation of greeter_async_*.cc is broken after gRPC API change"
Both the client and server fails to compile.

The client is trivial to fix, but I don't know how to deal with the server. There are now two CompletionQueue's in the arguments to service_->RequestSayHello(). Since this example is the only documentation for the async version of gRPC, it would be nice if you could update the source code.

[2015-05-15 20:19] ejona86 commented on #198
We may want to consider the implications of [HTTP/2 §8.1](https://httpwg.github.io/specs/rfc7540.html#rfc.section.8.1):

I would totally believe we are doing that wrong today. It looks like it may be more appropriate to do it on the server-side since that is explicitly mentioned in the spec.

[2015-05-15 21:58] #202 closed

[2015-05-18 21:30] ctiller commented on #198
Almost certain that C is doing this wrong also.

[2015-05-19 20:35] ctiller commented on #198
Issued grpc/grpc#1661 to fix this for C core and associated wrapped languages.

[2015-05-20 23:22] ejona86 opened #205 "grpc spec: Delimited-Message is a misleading name"
"Delimited" [typically means](http://en.wikipedia.org/wiki/Delimiter) that there is a special character that separates messages. However, in our case we do length-prefixing.

[2015-05-22 17:21] ejona86 opened #210 "Define HTTP code -> gRPC status mapping"
We don't have it defined. We should.

@a11r @louiscryan @ctiller

[2015-05-26 07:48] zeliard commented on #196
Although a new c# greeter example was uploaded,
I couldn't able to retrieve grpc nuget packages yet.

FYI: VS2013 error messages ---------------
Error	1	NuGet Package restore failed for project Greeter: Unable to find version '0.5.0' of package 'Grpc'..		0
Error	2	NuGet Package restore failed for project GreeterServer: Unable to find version '0.5.0' of package 'Grpc'..		0
Error	3	NuGet Package res

[2015-05-26 14:59] #172 closed

[2015-05-26 14:59] LisaFC opened #211 "Need C# route guide tutorial and example"

[2015-05-26 15:00] LisaFC opened #212 "Do we need Android java version of Route Guide?"

[2015-05-26 15:52] jtattermusch commented on #196
Yes, the packages weren't published yet (as gRPC C# alpha also wasn't officially released as alpha yet).
To obtain the packages, please see #1623.

[2015-05-26 15:52] #196 closed

[2015-05-26 21:09] zeliard commented on #196
Thanks @jtattermusch
https://github.com/grpc/grpc/issues/1623

[2015-05-27 03:42] lotosbin opened #214 "nuget package cannot found"
Error	2	NuGet Package restore failed for project Greeter: Unable to find version '0.5.0' of package 'Grpc'..		0	0
Error	4	NuGet Package restore failed for project GreeterClient: Unable to find version '0.5.0' of package 'Grpc.Core'..		0	0
Error	3	NuGet Package restore failed for project GreeterServer: Unable to find version '0.5.0' of package 'Grpc'..		0	0
Error	5	This project references NuGet pac

[2015-05-27 23:48] hjfreyer opened #216 "Tool for manually sending requests to gRPC servers"
gRPC needs browser and/or CLI based tools for manually sending requests to servers, for testing and fiddling-about purposes.

[2015-05-27 23:51] hjfreyer commented on #216
Oops, probably the wrong repo. Opened an issue in the main one: https://github.com/grpc/grpc/issues/1776

[2015-05-27 23:51] #216 closed

[2015-05-27 23:51] yang-g commented on #216
Please look at grpc_cli at https://github.com/grpc/grpc/blob/master/test/cpp/util/grpc_cli.cc
It is very simple but can do the simple rpcs.

[2015-05-28 01:56] zeliard commented on #214
#196
https://github.com/grpc/grpc/issues/1623

[2015-05-28 01:59] zeliard commented on #211
@jtattermusch uploaded that
 https://github.com/grpc/grpc-common/tree/master/csharp/route_guide

[2015-05-28 02:57] #214 closed

[2015-05-28 03:08] tthn opened #217 "How to use client certificate?"
here is the client-side code:
[code]
here is the server-side code:
[code]
====
it seems that whether the client set the key/perm or not, it will always perform the RPC call successfully.

[2015-05-28 03:15] lotosbin commented on #214
@zeliard Thanks

[2015-05-28 03:25] jtattermusch commented on #214
NuGet packages for gRPC have been published to nuget.org.
http://www.nuget.org/packages/Grpc/

[2015-05-28 03:29] #211 closed

[2015-05-29 21:10] jboeuf commented on #217
Yes this is an issue that I'm aware of. I think that a fix will require an API change on the server SSL creds as I could see a server accepting both authenticated and non-authenticated clients.
When the upcoming server auth context is checked-in (https://github.com/grpc/grpc/pull/1672), along with the C++ wrapped version of it, the application will be able to have access to the client peer identit

[2015-05-29 21:15] stanley-cheung opened #221 "Failed to npm install node helloworld"
I got this error when I do `npm install`

[code]

I have `nodejs-legacy` installed. `npm install` works under `grpc/src/node`. I have tried to delete the entire `node_modules` folder and start over. I have tried to re-compile the grpc C core. Any idea?

[2015-05-29 21:29] stanley-cheung commented on #221
It's some version mismatch. Will submit a PR for this

[2015-05-29 22:41] #221 closed

[2015-05-29 23:04] stanley-cheung opened #223 "Add PHP Hello World example"

[2015-05-30 15:21] #217 closed

[2015-05-30 15:22] tthn commented on #217
cool, appreciate

[2015-05-31 20:56] jcanizales opened #224 "Infinite reference loop in Java tutorial"
https://github.com/grpc/grpc-common/blob/master/java/javatutorial.md says:

which links to https://github.com/grpc/grpc-common/tree/master/java, where only `javatutorial.md` is found.

So where are the instructions to install the relevant tools?

[2015-06-03 22:36] stanley-cheung commented on #223
First draft has been commited to the repo. There are a few things Tim and I would like to investigate and apply them later.

[2015-06-03 23:32] murgatroid99 opened #229 "The installation script does not work"
I tried to run the installation script using the provided command `curl -fsSL https://goo.gl/getgrpc | bash -` and I got the following output:

[code]

[2015-06-03 23:35] tbetbetbe commented on #229
What were you trying to do ?
- had you previously either run the script of installed grpc using homebrew ?
- Try running `brew update`, then try the script again and let me know if that works.
- it may be that we need to run brew update as part of the script

[2015-06-03 23:36] tbetbetbe commented on #201
This was fixed by #225

[2015-06-03 23:36] #201 closed

[2015-06-03 23:37] tbetbetbe commented on #80
The installation on Mac should be resolved by the new instructions added in #225

[2015-06-03 23:37] #80 closed

[2015-06-04 00:32] murgatroid99 commented on #229
I think I have previously installed grpc using homebrew, but I'm not sure. I tried running `brew update`, and got this output:

[code]

With a lot more filenames where I put ellipses.

[2015-06-04 02:12] hydrogen2005 opened #230 "cannot find package "golang.org/x/oauth2/google""
when I "go get -u github.com/grpc/grpc-common/go/greeter_server"

[2015-06-04 17:01] murgatroid99 commented on #229
I was able to fix the previous error using the instructions [here](http://stackoverflow.com/questions/17868956/homebrew-update-fail-please-commit-your-changes-or-stash-them-before-you-can)

[2015-06-05 10:48] LisaFC commented on #211
BTW, @jtattermusch - is this ready to go into grpc.io (I can make any improvements to the text, but just want to make sure there aren't going to be any major changes to the code)? I can copy it over to the doc repo if so.

[2015-06-05 17:33] jtattermusch commented on #211
Yes, I am not planning any major changes. Please go ahead and copy it over to the doc repo.

[2015-06-05 22:23] murgatroid99 opened #233 "The Node installation script/example does not work"
The installation script installs the gRPC Node library globally. This is not very useful, because that does not satisfy package dependencies. So running `npm install` in `grpc-common/node` will still fetch the library from npm and fail because it does not have the proper `CXXFLAGS` and `LDFLAGS`.

[2015-06-09 20:48] tbetbetbe commented on #233
As discussed
- this should update the installation script/instructions to do npm link
- we need to have a fix for

[2015-06-10 07:01] amitkg29 opened #237 "Supported languages in grpc"
Is C language on roadmap in list of supported languages for generated code in grpc? If yes, is there any timeline for it?

[2015-06-10 12:04] astra-v commented on #233
I am having the same problem
..\ext\timeval.cc(36): fatal error C1083: Cannot open include file: 'grpc/grpc.
h': No such file or directory [D:\Work\Project\grpc-common\node\node_modules\gr
pc\build\grpc.vcxproj]

Please advice how to fix it

[2015-06-10 21:37] stanley-cheung commented on #223
This is done.

[2015-06-10 21:37] #223 closed

[2015-06-11 03:25] cpettitt commented on #233
Hitting the same problem. Are there some manual steps we can use to work around this for now?

[2015-06-11 03:38] cpettitt commented on #233
I was able to get the install to pass. The main trick seems to be using grpc@0.9.0 instead of grpc@0.9.1. Here's what I did:

[code]

It seems grpc@09.1 has a compilation issue, at least on my system:

[code]

[2015-06-11 16:31] stanley-cheung opened #239 "Add PHP route guide client"

[2015-06-12 15:52] tbetbetbe commented on #229
Closing this.  This looks like the issue was that you had unresolved local changes in homebrew repo

[2015-06-12 15:52] #229 closed

[2015-06-12 21:14] stanley-cheung commented on #239
Found an issue where if the PHP bidi streaming client tries to `read()` before a server `write()`, the `read()` call is hanging forever. See issue grpc/grpc#2048

[2015-06-12 21:52] stanley-cheung commented on #239
Michael clarified that the `read()` call is expected to wait until the server sends a message, unless the server indiciated that it will not send any more messages. Then in that case, the `read()` call returns `null` immediately.

[2015-06-17 23:18] murgatroid99 opened #245 "Move code examples to their corresponding repositories"

[2015-06-18 12:26] eligeske commented on #233
This is the message received when following the "node getting started" on ubuntu using node 0.12.4

Any help would be appreciated! Thanks :)

npm ERR! Linux 3.16.0-40-generic
npm ERR! argv "/usr/bin/node" "/usr/bin/npm" "install"
npm ERR! node v0.12.4
npm ERR! npm  v2.10.1

npm ERR! grpc@0.9.2 install: `node-gyp rebuild`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the grpc@0.9.2 install scr

[2015-06-22 18:13] #239 closed

[2015-06-23 03:53] dhermes opened #248 "Link to this repo in grpc.io docs is broken"
http://www.grpc.io/docs/installation/python.html
links to
https://github.com/grpc/grpc-common/blob/master/python/helloworld/helloworld.proto

[2015-06-23 15:37] LisaFC commented on #248
Fixed.

[2015-06-23 15:37] #248 closed

[2015-06-23 22:06] tbetbetbe opened #249 "Add PHP auth example to grpc-common/grpc-auth-support.md"
[grpc-auth-support.md](https://github.com/grpc/grpc-common/blob/master/grpc-auth-support.md) should have a paragraph add to it showing how to authenticate against a google service, cf grpc/grpc-common@4e7b4ad42da58ae4ef7f2282ab0af11fc7c1073a

It should use the same auth code as is used in the auth interop tests.

[2015-06-23 22:07] tbetbetbe commented on #249
This should be completed before #245

[2015-06-23 22:15] stanley-cheung commented on #249
Got it

[2015-06-23 22:17] tbetbetbe commented on #183
@nathanielmanistaatgoogle, @soltanmm
It'd be nice to get this completed before #245

Please ping @LisaFC once this is done, so that she can update the official [auth documentation](http://www.grpc.io/docs/guides/auth.html)

[2015-06-23 22:21] tbetbetbe commented on #249
Thanks - please ping @LisaFC once this is done, so that she can update the official [auth documentation](http://www.grpc.io/docs/guides/auth.html)

[2015-06-23 22:37] murgatroid99 commented on #249
After discussing this with Tim, we decided that the timing of this change is independent of #245.

[2015-06-23 22:37] murgatroid99 commented on #183
After discussing this with Tim, we decided that the timing of this change is independent of #245.

[2015-06-24 18:37] #249 closed

[2015-06-26 02:50] LuckyCloud opened #252 "grpc noblocking server"
can grpc implement an c++ noblocking server？

[2015-06-26 04:00] nicolasnoble commented on #252
Yes. See https://github.com/grpc/grpc-common/blob/master/cpp/helloworld/greeter_async_server.cc

[2015-06-26 04:03] LuckyCloud commented on #252
I see it but it is also block on  poll
#0  0x00007ffff633c0d3 in poll () from /lib64/libc.so.6
#1  0x00007ffff77c1098 in ?? () from /usr/local/lib/libgrpc.so.0
#2  0x00007ffff77c0c6e in grpc_pollset_work () from /usr/local/lib/libgrpc.so.0
#3  0x00007ffff77ca765 in grpc_completion_queue_next () from /usr/local/lib/libgrpc.so.0
#4  0x00007ffff7bc51bd in grpc::CompletionQueue::AsyncNextInternal(void

[2015-06-26 04:13] nicolasnoble commented on #252
You can use AsyncNext to specify a deadline instead of just calling Next.

On Thu, Jun 25, 2015 at 9:03 PM, luckycloud.liu <notifications@github.com>
wrote:

[2015-06-26 04:22] LuckyCloud commented on #252
can you give me a example？

[2015-06-26 04:32] nicolasnoble commented on #252
Something of that ilk, probably: https://gist.github.com/nicolasnoble/a40a81db45db4f025601

[2015-06-28 02:22] vvakame commented on #159
I have a question.
Does gRPC can support for http2 fully implemented browser?

[2015-07-09 15:39] thpham commented on #144
Hello @louiscryan , I'm trying to setup HAProxy (1.5.14) to validate if it's possible to load balance a gRPC client with multiple servers (with the four kinds of service and all the benefits of gRPC). I started from your (google) example in grpc-java (route-guide-server) and I modified it a bit to be able to start the server on different ports with an argument. Then I setup HAProxy both in both ht

[2015-07-09 19:19] ejona86 opened #257 "grpc spec: Add "identity" to Message-Encoding options"
"identity" is used with Accept-Encoding and Content-Encoding, which we mimic with Message-Encoding. Defining "no compression" as identity is probably a good idea.

[2015-07-09 19:28] louiscryan commented on #144
So you can still use HAProxy to do layer 3 load balancing instead of layer 7. Take a look at the documentation that Jetty uses to do just this.

https://www.eclipse.org/jetty/documentation/current/http2-configuring-haproxy.html

The setup for GRPC is essentially the same, you want to make sure your GRPC server is setup to accept   HTTP2 over plaintext as HAProxy will terminal TLS for you

[2015-07-10 11:19] tbetbetbe commented on #183
@soltanmm ping.  These docs would unblock GoogleCloudPlatform/gcloud-python#872

[2015-07-10 17:51] brextonpham opened #258 "objective-c route guide can't install openSSL once "pod install" is called"

[2015-07-16 22:19] ejona86 opened #262 "grpc spec: clients and server should send Accept-Message-Encoding"
Servers need a way to know what compression algorithms the client supports. We need the equivalent of
`Accept-Encoding` for `Message-Encoding` to do so. `Accept-Message-Encoding` seems a very reasonable name.

We have not currently defined negotiation behavior, but servers sending `Accept-Message-Encoding` would be reasonable, especially if the server rejected a call because of unsupported compres

[2015-07-17 15:08] #183 closed

[2015-07-21 17:27] #262 closed

[2015-07-22 16:57] carl-mastrangelo opened #266 "gRPC Spec should clarify header restrictions"
Considering that gRPC is strongly expected to run on HTTP2, there should likely be an explicit statement that gRPC headers must be conformant to HTTP2 header rules.  This would cover a bunch of corner case header keys and values (binary keys, empty keys, duplicate keys, key-value ordering, etc.).  Also if gRPC used a transport other than HTTP2, these same rules could consistently apply to the new

[2015-07-23 16:43] marcinwyszynski opened #267 "[ruby] Installing grpc gem fails to build native extension"
[code]

[2015-07-23 16:56] murgatroid99 commented on #267
This was fixed in grpc/grpc#2476, but the fix has not yet been published.

[2015-07-23 16:59] marcinwyszynski commented on #267
@murgatroid99 Interestingly I get something similar for each version of this gem :(

[2015-07-23 17:05] marcinwyszynski commented on #267
Also, it's unfortunately still failing at HEAD:

[code]

[2015-07-23 18:04] murgatroid99 commented on #267
I can't reproduce that error at HEAD on Mac or Linux. This seems like it might be something particular to your compiler. What compiler are you using? I don't think any compiler we test with checks for integer conversion problems with the warning flags we pass.

[2015-07-23 18:06] marcinwyszynski commented on #267
Thanks for looking into that!

[code]

I submitted a PR with a path at https://github.com/grpc/grpc/pull/2632

[2015-07-26 20:42] awpr opened #268 "RST_STREAM code STREAM_CLOSED should have an error mapping."
This should not happen on open streams, but if it does, the client should be permitted to do something other than logging a warning and pretending the RPC succeeded.

[2015-08-17 15:14] satish-baliga opened #270 "helloworld greeter_client.cpp crashes"
Access violation, stack trace:
grpc::FillMetadataArray  Line 67
grpc::CallOpSendInitialMetadata::SendInitialMetadata  Line 167
grpc::BlockingUnaryCall Line 64
helloworld::Greeter::Stub::SayHello Line 30

The server runs OK: "Server listening on 0.0.0.0:50051"

Built with static libraries, debug mode on VS 2013, Windows 8.1.

[2015-08-17 15:34] larsonmpdx commented on #270
try and see if it's related to compiler option _USE_32BIT_TIME_T, see
https://github.com/grpc/grpc/issues/2595
On Aug 17, 2015 11:14 AM, "satish-baliga" <notifications@github.com> wrote:

[2015-08-17 15:56] satish-baliga commented on #270
Resolved. Thanks for the quick reply. For future reference:
<img width="361" alt="capture" src="https://cloud.githubusercontent.com/assets/3314682/9309297/5075048e-4526-11e5-9547-9cd58e6cea70.PNG">
Recompiled my client, server & .pb.cc generation project(s) with _USE_32BIT_TIME_T preprocessor definition.

[2015-08-17 17:15] #270 closed

[2015-08-19 22:46] ejona86 opened #271 "grpc spec: Limit metadata keys"
As brought up in grpc/grpc-java#824, we need to specify what metadata keys are appropriate. We could allow the full set permitted by HTTP/2. But because we don't have too much time to debate, @louiscryan, @ctiller, and I agreed to limit the initial set we support (because really, who needs percent and back-tick in their metadata key, and is what they're doing a good idea?).

So we should specify i

[2015-08-20 21:14] ejona86 opened #273 "grpc spec: define there may be a limit on metadata size"
We need to be able to limit the metadata size, in similar fashion to limiting message size.

The thought is to simply document that implementations are permitted to limit the metadata size, to a value like 8 KB. We are sorta-thinking 16 KB is a possibly-better default, but we may be more conservative now. In either case, it seems implementations are almost required to provide an option to override

[2015-08-20 21:19] ejona86 commented on #273
@ctiller, @iamqizhao, FYI. We may want to add some rough documentation to our libraries.

[2015-08-21 15:49] ctiller commented on #271
Let's add '_' to the legal set: we've got a ton of existing practice in our tests already.

[2015-08-21 15:56] ejona86 commented on #271
I've updated the Java-tracking issue #824 to include underscore.

[2015-08-25 20:44] dustinboswell opened #275 "greeter_client example doesn't compile anymore"
I think due to recent refactoring from grpc/grpc some includes got moved around.  For example:

[code]

This line of code refers to a non-existent include now.

[2015-08-25 20:45] yang-g commented on #275
I am fixing it today.

On Tue, Aug 25, 2015 at 1:44 PM, Dustin Boswell <notifications@github.com>
wrote:

[2015-08-26 19:30] dustinboswell opened #277 "hello world (greeter_*) takes 8 seconds to connect; lots of weird messages across the wire"
[This may be a grpc/grpc issue, but filing it as an issue here for now.]

When running the greeter_server greeter_client example, it takes the client 8 seconds to get a response from the server.  Looking at the data exchanged over the socket, I see:

[code]

I wish I could put coloring here to preserve which bytes were from the client vs. server, but I'll just say that the "write error to stdout"

[2015-08-27 04:07] nathanielmanistaatgoogle commented on #277
When you write "the greeter_server greeter_client example", in which languages are the example server and example client written?

[2015-08-27 04:12] dustinboswell commented on #277
C++

On Wednesday, August 26, 2015, Nathaniel Manista <notifications@github.com>
wrote:

[2015-08-27 04:50] yang-g commented on #275
Fixed.

[2015-08-27 04:50] #275 closed

[2015-08-27 05:45] yang-g commented on #277
I cannot reproduce. What is your environment like?
Could you run it with "export GRPC_TRACE=all" and attach the logs? Thanks.

[2015-08-27 17:16] megapowers opened #279 "[gRPC bug] Server did not send CertificateRequest message in SSL"
Hi all,

I am currently using gRPC 8.0 with ALPN and I am trying to implement a 2-way SSL authentication between a client and server.

However, upon inspection of the SSL debug logs, I noticed that the CertificateRequest message (as stated in https://en.wikipedia.org/wiki/Transport_Layer_Security#Client-authenticated_TLS_handshake), was never sent to the client to initiate the Client Authenticatio

[2015-08-27 18:02] ejona86 commented on #266
#271 is for metadata keys; this will be for metadata values. grpc/grpc-java#725 goes into more detail about HTTP, but in short this is what we'll agree to support _for beta_ (based on conversations with @louiscryan and @ctiller).

A metadata value should not have leading or trailing whitespace, and only contain ASCII characters 0x20-0x7E (visible characters+space), except for 0x2C (comma). Note th

[2015-08-27 18:25] ejona86 commented on #266
We should make it clear that comma handling may change at a later date.

[2015-08-27 18:25] ejona86 commented on #266
@ctiller, @iamqizhao, FYI

[2015-08-27 20:30] dustinboswell commented on #277
Linux 3.13.0-45-generic #74-Ubuntu SMP Tue Jan 13 19:36:28 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Ubuntu Output from client:
GRPC_TRACE=all ./greeter_client > greeter_client.out 2>&1

[code]

[2015-08-27 22:05] dustinboswell commented on #277
A from the server side (from a later session, but same behavior), the messages up until it finally received the request (you can see a ~13s gap)

[code]

[2015-08-28 07:17] garygogo opened #281 "grpc: c++ server and java client"
I used "grpc-java/examlpe/route-guide-client" as a client and "grpc-common/cpp/route_guide_server" as a server.I got the error message:

com.google.common.util.concurrent.UncheckedExecutionException: io.grpc.StatusRuntimeException: UNIMPLEMENTED
	at io.grpc.stub.Calls.getUnchecked(Calls.java:117)
	at io.grpc.stub.Calls.blockingUnaryCall(Calls.java:129)
	at io.grpc.examples.routeguide.RouteGuideGrp

[2015-08-28 21:52] stanley-cheung opened #282 "Move examples to grpc-* repos"

[2015-08-28 22:08] yang-g commented on #277
I cannot explain it. Are you able to reproduce it reliably? How often does it behave like this?

[2015-08-28 22:16] #282 closed

[2015-08-29 01:16] dustinboswell commented on #277
Yeah, it happens every single time I run it.  I'm trying to run it again on the latest code from HEAD (now that the examples are moved in from grpc-common) but I'm stuck because that code doesn't compile at the moment (I filed an issue for that just now.)

PS. Former Googler here -- so glad you guys are open sourcing this :)

[2015-09-02 19:14] dustinboswell commented on #277
I'm going to recreate this ticket on grpc/grpc now that this code has moved there.  The problem still exists with the latest code, btw.

[2015-09-02 19:14] #277 closed

[2015-09-03 22:01] louiscryan commented on #281
Fixed by

https://github.com/grpc/grpc/commit/9a72021cc6c32837869be7fab406ec620d91f595

[2015-09-03 22:01] #281 closed

[2015-09-03 22:04] louiscryan commented on #279
Not missing anything, we just haven't yet provided support for mutual authentication in Java. I've moved this to grpc-java

[2015-09-03 22:04] louiscryan commented on #279
https://github.com/grpc/grpc-java/issues/946

[2015-09-03 22:04] #279 closed

[2015-09-03 22:06] louiscryan commented on #267
@tbetbetbe The PR has been merged, can you close if this is resolved?

[2015-09-03 22:07] louiscryan commented on #258
@jcanizales @murgatroid99

[2015-09-03 22:08] louiscryan commented on #252
@nicolasnoble Is this resolved, is a doc update needed somewhere

[2015-09-03 22:17] louiscryan commented on #145
@nicolasnoble is this resolved/obsolete now?

[2015-09-03 22:34] ctiller commented on #237
It's something we've thought about, and would like to do - but not something we've had time for yet - and there's no timeline for it.

If anyone is interested in working on such a thing, I'd be happy to give pointers and feedback.

[2015-09-04 15:57] madongfly commented on #157
I believe the current proto/grpc generator generates nano code with an extra `nano` directory by default, so you should be able to use both `com.foo.bar.Message` and `com.foo.bar.nano.Message` in the same time.

I'm closing this, feel free to reopen it if you meet any problem.

[2015-09-04 15:57] #157 closed

[2015-09-07 09:36] amitkg29 commented on #237
Thanks very much for the response. I am working on it and have initial implementation which is single threaded and based on libisc2. I will definitely like to discuss the design approach we have taken and refine it.

[2015-09-08 17:58] jcanizales commented on #258
Hi Brexton,

could you paste here what error are you getting?

Thanks,
Jorge

[2015-09-17 00:38] philips commented on #282
When will this be rebuilt on grpc.io? There are problems with the grpc.io Go examples: http://www.grpc.io/docs/installation/go.html

[2015-09-17 12:28] LisaFC commented on #282
We're actually moving all the quickstart/installation guides out of grpc.io in the next major update, and just linking to the relevant READMEs in the relevant depot, as they are probably most useful next to the code. Grpc.io will have more substantial guides, tutorials and reference material.

In the meantime, if this is correct (https://github.com/grpc/grpc-go/tree/master/examples) and the versio

[2015-09-17 19:47] philips commented on #282
@LisaFC These are the fixes that the grpc.io page needs.

[2015-09-21 14:28] LisaFC commented on #282
Ah, I see, the link to the helloworld.proto is broken (in fairness, it's also broken in the repo README). The repo README also tells users to get the code using

go get -u google.golang.org/grpc/examples/helloworld/greeter_client

while the grpc.io page says

go get -u github.com/grpc/grpc-go/examples/helloworld/greeter_client

- should I change the grpc.io page to match the repo one?

[2015-09-21 15:35] philips commented on #282
@LisaFC Yes, the grpc-go repo one is correct.

[2015-09-21 15:44] LisaFC commented on #282
Done!

[2015-09-24 05:01] avellable opened #283 "Bundler failing"
$ bundle install
        Using grpc 0.11.0 from https://github.com/grpc/grpc.git (at master)

        Gem::Ext::BuildError: ERROR: Failed to build gem native extension.

        /Users/mahesh.baheti/.rvm/rubies/ruby-2.2.1/bin/ruby -r ./siteconf20150924-9386-iqi7nj.rb extconf.rb
        checking for dlopen() in -ldl... yes
        checking for inflate() in -lz... yes
        checking for gpr_now()

[2015-11-05 00:16] ejona86 commented on #271
Resolved by grpc/grpc#3331

[2015-11-05 00:16] #271 closed

[2015-11-05 18:56] #185 closed

[2015-11-05 18:56] #205 closed

[2015-11-05 18:56] #257 closed

[2015-11-05 18:56] #273 closed

[2015-11-05 19:42] ejona86 commented on #266
We have resolved issues with comma and now are now considering it permitted.

[2015-11-09 20:48] #266 closed

[2015-11-11 00:53] breerly commented on #144
Anyone have any luck here?

[2015-11-17 01:16] louiscryan commented on #144
I did before, were you getting stuck on something?

[2015-11-24 02:52] philips commented on #230
This should be fixed via: https://github.com/grpc/grpc-go/commit/0f7040121636977ab9a148e9a992580301007c08

[2015-11-24 02:54] philips commented on #33
Seems like this can be closed.

[2015-11-24 02:55] philips commented on #32
More indepth than the landing page here? http://www.grpc.io/docs/

[2015-11-24 02:55] philips commented on #15
Is this an issue? Seems like it can be closed.

[2015-11-24 02:56] philips commented on #38
Isn't gRPC protobuf3 only?

[2015-11-24 02:56] philips commented on #75
This can be closed, I think. A diagram exists here: http://www.grpc.io/docs/#what-is-grpc

[2015-11-24 03:08] #15 closed

[2015-11-24 12:21] LisaFC commented on #38
No, it works with proto2, it's just there are some potentially inconsistencies if you have a proto2 client talking to a proto3 server and vice versa so our general recommendation is to stick with proto3. Not sure what kind of example I was thinking of, mind....

[2015-11-24 12:22] LisaFC commented on #32
It exists! http://www.grpc.io/docs/guides/concepts.html

[2015-11-24 12:22] #32 closed

[2015-11-24 18:40] philips opened #284 "quickly moving forward with HTTP/1.1 backwards compatibility support"
On various CoreOS projects we love gRPC. The major reason we love it is that it uses HTTP/2. And why do we love HTTP/2? Because it moves the web forward in important ways while remaining backwards compatible with HTTP/1.1.

Unfortunately, none of the gRPC implementations allow someone to take advantage of HTTP/2's backwards compatibility advantage to let us serve HTTP/1.1 APIs on the same port as

[2015-11-24 18:47] philips commented on #284
cc @nmittler for Java gRPC and netty feedback.

[2015-11-24 18:54] ctiller commented on #284
So I don't think we need to gate the solution on Java and C++
implementations being ready, but we do need to gate the solution on a good
design. I'm not sure that cmux and the like are.

To round out the port sharing story, we need to hit the following points in
any implementation:
- HTTP/2 channel sharing: reverse proxies may multiplex a grpc channel and
a non-grpc channel together, so we need to

[2015-11-24 19:38] ctiller commented on #284
Also, re: C++ - this language certainly isn't a gating factor. However,
once we get going with this I expect Ruby, Node, Python and C# users would
love similar features, and in those languages the ecosystem is
substantially more uniform with HTTP server API surfaces. And they share a
vast portion of their code bases with C++.

On Tue, Nov 24, 2015 at 10:54 AM Craig Tiller <ctiller@google.com> wrot

[2015-11-24 23:45] philips commented on #284
On Tue, Nov 24, 2015 at 10:54 AM Craig Tiller <notifications@github.com>
wrote:

Is there any prior art or existing discussions on this problem?

The prevailing obvious route is to use the mandatory Content-Type header to
distinguish gRPC from other stuff. The only objection I have seen to making
that the official recommendation is: "you probably shouldn't" return 404
blindly if the content-type d

[2015-11-25 05:01] ctiller commented on #284
So the big thing here is that approaches like cmux (as I understand it)
simply don't work in the general case. We need* to expect that incoming
HTTP2 connections will carry requests for both the web server and the grpc
server.

I chatted with Qi earlier today and we enumerated five designs that could
work:

1. Implement grpc atop a http2 library. We haven't done this, so it'd
amount to reimplement

[2015-11-25 05:02] ejona86 commented on #284
On the Java side we're favorable to the general idea, although I'm not up-to-date on the current specifics for Go (I'm familiar with the Go HTTP stack and the Go gRPC implementation, but not the proposal to combine the two).

You are right that since Java is built on Netty, Netty can be the common platform. However, the current HTTP/2 design is too monolithic to make that possible today. We are wo

[2015-11-25 06:45] philips commented on #284
On Tue, Nov 24, 2015 at 9:01 PM Craig Tiller <notifications@github.com>
wrote:

What are the performance options it takes off the table?

[2015-11-25 07:31] ctiller commented on #284
There's a whole class of things we can do by breaking strict layering.

C gets some good speedups by combining GRPC and HTTP 2 framing and
deframing into a single pass, by special casing handling for some header
values, and by carefully choosing on which side of any RFC "SHOULD" clauses
we fall on. Our method dispatch can be bought down to one static hash table
lookup. I suspect our threading mode

[2015-11-25 15:23] philips commented on #284
Hrm, email posting doesn't seem to be working. @ctiller

Is there a measurement for how much better this will potentially be?

I think gRPC should focus on playing to its strengths as an HTTP/2 based RPC framework to gain adoption. Trying to optimize for speed over flexibility feel premature. Once gRPC takes over the world squeezing out performance optimizations makes sense, but we aren't there ye

[2015-12-08 17:11] ctiller commented on #284
The speed thing is a big deal for some of our C/C++ customers.

[2015-12-08 17:19] ctiller commented on #284
We talked about the port sharing story yesterday here.

There's broad agreement within the team that we need to do this, although we'll likely stagger language implementations over time - and driver the timing with demand.

We plan for each language will build out a story to:

1. Allow port sharing with non-http2 protocols by handing off a socket to some other system
2. Allow port sharing with htt

[2016-01-11 06:43] MaxDZ8 commented on #156
I see this is still opened.
I'm starting to look at grpc for an Android project with JavaNano protocol buffers.

I haven't looked at anything specific to grpc yet but as a start I'd like to see this issue updated and hopefully closed.

[2016-01-11 10:06] nodirt commented on #210
Any updates?

[2016-01-11 16:39] ejona86 commented on #210
No updates. I was hoping to get to it soon, but lots of other things keep coming up.

The main thing to be gained is to map HTTP codes that an intermediary might generate, such as 502 Bad Gateway.

[2016-01-28 06:28] zj8487 commented on #159
same question
Does gRPC can support for http2 fully implemented browser with javascript?

[2016-02-02 17:39] bradfitz commented on #284
As an update to this bug, the Go problem (grpc/grpc-go#75) at least is solved in https://github.com/grpc/grpc-go/pull/514.

[2016-02-17 06:46] sulliwane commented on #159
same question
Does gRPC can support for http2 fully implemented browser with javascript?

[2016-02-17 09:46] pdf commented on #159
IS THE ISSUE OPEN? YES.  DID YOU BOTHER TO READ THE DISCUSSIONS? NO.  DOES GRPC WORK IN THE BROWSER YET? NO.

[2016-02-28 16:43] timini commented on #162
nice :)

[2016-03-01 00:47] rcordeau commented on #145
So I am seeing the same issue if I checkout release-0_13_0 - it doesn't build libgpr.so.  The tip of master will build libgpr.so (version 14-dev) just fine.  How did it go missing?

[2016-03-17 17:00] proteneer commented on #144
Doesn't layer 3 load balancing operate on the connection level (that is, only relevant when you have a large number of clients with a small number of servers)?

the inverse case where you have one client but a ton of servers isn't satisfied by layer 3 load balancing.

[2016-03-17 17:03] louiscryan commented on #144
If Layer3 isn't useful and you need Layer7 then try out

https://nghttp2.org/documentation/nghttpx.1.html

[2016-05-20 21:28] dapengzhang0 opened #285 "put health and etc. proto files in common"
There have been multiple health.proto files in different places with minor different option fields:

https://github.com/grpc/grpc/blob/master/src/proto/grpc/health/v1/health.proto
https://github.com/grpc/grpc-java/blob/master/services/src/main/proto/health.proto
https://github.com/grpc/grpc-go/blob/master/health/grpc_health_v1/health.proto

As discussed in grpc/grpc-java#1821 @ejona86 @carl-mastra

[2016-05-20 23:04] carl-mastrangelo commented on #285
+1

[2016-05-31 09:04] weiwei04 opened #286 "mismatched MethodDesc.Handler types"
When I compile my grpc code encounter a compile error

![image](https://cloud.githubusercontent.com/assets/2130651/15669049/e487dd56-2750-11e6-83d2-734f5aca13b2.png)

It seems like, the protoc compiled code are mismatched with grpc.handler type

generated code:
![image](https://cloud.githubusercontent.com/assets/2130651/15669145/5b4d1ece-2751-11e6-8a03-f8755711c859.png)

grpc.handler type
![image]

[2016-05-31 09:09] weiwei04 commented on #286
moved to grpc-go

[2016-05-31 09:09] #286 closed

[2016-06-10 12:26] afshinm commented on #162
brew install --devel protobuf --force

[2016-07-11 17:04] nathanielmanistaatgoogle commented on #163
Closing; the `early_adopter` API was removed some time ago.

[2016-07-11 17:04] #163 closed

[2016-07-11 17:06] nathanielmanistaatgoogle commented on #129
Closing; this was done (and then the documentation moved to [grpc.io](http://grpc.io)).

[2016-07-11 17:06] #129 closed

[2016-07-11 17:08] nathanielmanistaatgoogle commented on #161
Closing; [the current documentation](http://www.grpc.io/docs/tutorials/basic/python.html) does proceed in the desired order.

[2016-07-11 17:08] #161 closed

[2016-07-26 23:36] louiscryan commented on #159
Seems like Fetch may support trailers so there is hope we can support in a Fetch-capable browser without protocol modification. Timelines are still an issue

https://github.com/whatwg/fetch/issues/34#issuecomment-235318684

[2016-09-08 23:05] #285 closed

[2016-09-08 23:05] #284 closed

[2016-09-08 23:05] #283 closed

[2016-09-08 23:05] #268 closed

[2016-09-08 23:05] #267 closed

[2016-09-08 23:13] #258 closed

[2016-09-08 23:13] #252 closed

[2016-09-08 23:13] #245 closed

[2016-09-08 23:13] #237 closed

[2016-09-08 23:13] #233 closed

[2016-09-08 23:14] #230 closed

[2016-09-08 23:14] #224 closed

[2016-09-08 23:14] #212 closed

[2016-09-08 23:14] #198 closed

[2016-09-08 23:14] #181 closed

[2016-09-08 23:14] #178 closed

[2016-09-08 23:14] #173 closed

[2016-09-08 23:14] #156 closed

[2016-09-08 23:14] #150 closed

[2016-09-08 23:15] #145 closed

[2016-09-08 23:15] #144 closed

[2016-09-08 23:15] #143 closed

[2016-09-08 23:15] #141 closed

[2016-09-08 23:15] #75 closed

[2016-09-08 23:15] #64 closed

[2016-09-08 23:15] #51 closed

[2016-09-08 23:15] #38 closed

[2016-09-08 23:15] #34 closed

[2016-09-08 23:16] #33 closed

[2016-09-08 23:40] ejona86 commented on #210
This is being done in https://github.com/grpc/grpc/pull/4955

[2016-09-08 23:41] ejona86 commented on #198
Java issues for client-side (grpc/grpc-java#2163) and server-side (grpc/grpc-java#2162)

[2016-09-09 01:36] pdf commented on #159
@nicolasnoble can you please detail why/how this was closed?

[2016-09-09 02:46] nicolasnoble commented on #159
I actually don't mind keeping that one open. All the other issues and pull requests in this repository were stale and outdated since we killed it, and I just mass-closed it since all the others were relocated in appropriate locations. But there's no good location for that one, and that's in fact appropriate for what we want to do here.

[2016-09-09 02:53] nicolasnoble commented on #159
So, in fact, let's try to get the discussion going. I have heard of different ways and suggestions for getting gRPC to work from a browser. Anyone wants to share?

[2016-09-09 04:09] pdf commented on #159
Thanks @nicolasnoble the ideal is obviously for browsers/fetch to support trailers properly, just wanted to maintain tracking here.

[2016-09-09 04:21] nicolasnoble commented on #159
Yes, that may be ideal, but maybe we can also do a few other things to workaround this, if for a diminished version of gRPC that is doing unary calls only for example.

[2016-09-09 19:08] nemequ commented on #159
AFAICT, the Fetch API has supported trailers for about a month, so the issue is getting browsers to implement the new functionality.

Why not just use [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway)?  It can output a Swagger definition which you should be able to use to generate stubs for many languages.  I haven't played with it yet, but AFAICT it supports server streaming, which s

[2016-09-14 19:27] louiscryan commented on #159
I must admit I get nauseous at the idea of using WebSockets but layering a basic H2 implementation over it and wrapping that up in the Fetch API might present a reasonable path forward.

I would NOT want to put termination for that protocol into every GRPC runtime, I would look to put it into a proxy that could de-awful it.

I haven't looked at the Dart library but I have looked at molnarg's for N

[2016-09-14 23:09] nemequ commented on #159
After I wrote my last comment I also came across [prpc](http://nodir.io/post/138899670556/prpc), which may be interesting for people coming across this issue…  it doesn't seem to be nearly as polished as [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway), can't generate a Swagger definition, and it's unary-only, but it works even in App Engine's very limited standard environment.

Agre

[2016-10-07 07:14] marcelocantos commented on #159
Given that this is a (somewhat) temporary problem until browsers catch up, an HTTP/1.1 gRPC proxy using WebSockets would be more straightforward and might therefore be preferable to the extra complexity of HTTP/2 emulation.

The gRPC library could fall back to the HTTP/1.1 protocol on old UAs or you could use server-side browser detection to deliver an alternate library. This would be trivially ea

[2016-10-07 21:38] nemequ commented on #159
I think you're confusing "Getting gRPC to work from a web browser" with "Getting gRPC to work from HTTP/1.1".  [HTTP/2 has fairly good browser support](http://caniuse.com/#feat=http2), the real issue (IMHO) is that the changes to the Fetch API to support trailers are, as far as I can tell, not available in any current browser.

If there is a way to get gRPC working with [current Fetch API implemen

[2016-10-08 00:48] marcelocantos commented on #159
You're right, I did confuse the issue, since the other suggestions were around sitting HTTP/2 on top of HTTP/1.1. However, my suggestion remains valid, I think: Instead of emulating HTTP/2, provide an alternate gRPC client library that uses WebSockets as is.

Regarding JSON, I wasn't suggesting a different API, but a way to support the same API on older browsers that don't handle binary wire forma

[2016-10-20 18:11] paralin commented on #159
I'm commencing work on a package that will allow clients to call GRPC services from the browser using a Node.JS server as a proxy. So, the client forms a two-way connection to the node server, and then can perform calls through that server as if they were local using a similar api to the GRPC node.js package.

https://github.com/paralin/grpc-bus

[2016-10-20 19:30] WhileLoop commented on #159
Has anyone tried using the grpc bridge functionality from Envoy?

"This is a simple filter which enables the bridging of an HTTP/1.1 client which does not support response trailers to a compliant gRPC server."

https://lyft.github.io/envoy/docs/configuration/http_filters/grpc_http1_bridge_filter.html

[2016-10-25 18:45] louiscryan commented on #159
For those folks not on the community call today there was a demo of using
GRPC from the browser. Everything is a rough prototype right now but you
should expect to see a formal proposal for a 'grpc-web' protocol from the
authors by the end of November at the latest.

On Thu, Oct 20, 2016 at 12:30 PM, Argishti Rostamian <
notifications@github.com> wrote:

[2016-11-08 20:29] louiscryan commented on #159
Folks please rview

https://github.com/grpc/grpc/issues/8682

[2017-01-01 23:18] andrewwebber commented on #284
@philips @bradfitz @nicolasnoble  For gRPC to succeed I think there needs to be more support for exposing grpc services outside the datacenter. At the moment this is very difficult.

Although the above fix is helpful, IMO I dont think this fix solves the issue at hand, namely gorpc still does not support calls over 1.1.

Also the requirements are not clear here for @bradfitz . I personally dont ne

[2017-01-02 08:56] andrewwebber commented on #284
@tatsuhiro-t I am very grateful for this, thank you. I will evaluate it.

I find nghttpx to be the only solution at the moment but I am more attracted to some more L7 routing features, for example delivered by [Envoy](https://lyft.github.io/envoy/docs/configuration/http_filters/http_filters.html).

nghttpx does not currently have these features. I have just been successful with Envoy and gRPC so I

[2017-01-18 10:46] public commented on #284
I agree with @andrewwebber. For many people using gRPC within an existing platform is a non-starter right now. Too many load balancers either have no HTTP2 support at all, have insufficient HTTP2 support to work with gRPC backends, or force you into using plain TCP load balancing with all the problems that come with that.

For example in AWS you must run ELBs in TCP mode to load balance a gRPC ser

[2017-01-18 14:10] andrewwebber commented on #284
At the moment the nghttpx ingress has been a life saver for me with our migration to kubernetes. Unfortunately the politics of ripping out trusted nginx in an organization just to expose gRPC is a difficult argument.

[2017-01-18 14:44] c4milo commented on #284
FWIW, based on the work made by Brandon, I also created a little bit
opinionated handler: https://godoc.org/github.com/c4milo/handlers/grpcutil

On Wed, Jan 18, 2017 at 9:38 AM, Brandon Philips <notifications@github.com>
wrote:

--
*Camilo Aguilar*
Software Engineer
http://github.com/c4milo

[2017-01-18 14:51] andrewwebber commented on #284
@philips don't you think the fact that you have to use gateway disappointing? I think this thread is about the possibility of not having to resort to additional Middleware. This also means all proto files need to be annotated if an operator selects a particular ingress controller

[2017-01-18 15:07] philips commented on #284
I don't need the gateway. The gateway is just the example http 1.1 app.
https://github.com/philips/grpc-gateway-example/blob/master/cmd/serve.go#L51

On Wed, Jan 18, 2017 at 6:51 AM andrew <notifications@github.com> wrote:

[2017-01-18 15:12] andrewwebber commented on #284
@philips presumably with your example an external etcd client talking to an internal etcd cluster behind a L7 ingress controller can only work with gateway. Or have I misunderstood.

[2017-01-18 15:16] philips commented on #284
@andrewwebber I don't know, I haven't tested it in any of the load balancing configurations because TCP load balancing is sufficient.

[2017-01-18 15:22] andrewwebber commented on #284
IMO Etcd is predominantly used within a cluster or internal to a k8 namespace. I believe this thread is about exposing gRPC services outside of the data center.

By default k8 uses TCP load balancing internally for services however many are using other plugins for internal service load balancing as L7 provides more advanced features, strategically. These products will also have issues with Etcd pr

[2017-01-19 12:21] public commented on #284
This issue doesn't merely affect connectivity outside of the datacenter. Currently it's not even possible to use readiness checks on a gRPC service in K8s because "there are no plans" to support gRPC or HTTP/2 in that component yet.

Basically any environment that's been based around something like nginx or haproxy (i.e. quite a large number of existing deployments) has very little mechanical symp

[2017-01-19 15:20] andrewwebber commented on #284
At this rate gRPC-web will be like the transition to REST from WS-*

[2017-01-25 02:37] louiscryan commented on #284
Some updates on proxies ...

- Envoy and nghttpx are pretty high quality products, I wouldn't be afraid to use them over nginx. Envoy in particular if you care about dynamic LB and service discovery etc.

- H2 upstream is coming for nginx so demuxing GRPC & non-GRPC traffic on the same inbound port should become simpler for folks in committed relationships with nginx. I would be surprised to see i

[2017-01-25 06:00] philips commented on #284
@ctiller are there any docs for the Envoy ingress there?

[2017-01-25 08:55] andrewwebber commented on #284
@louiscryan been using Envoy in production now for a microservice and it's been working really well. It's still difficult to health check gRPC services as the Envoy health checking assumes HTTP 1.1

Just waiting on an Envoy ingress controller, I too wasn't able to find the documentation for istio

[2017-01-25 10:18] public commented on #284
@louiscryan That's some useful information thanks a lot.

Do you have a source for this? The only comments I've found on this topic seemed pretty clear that they didn't consider H2 to backends to be a particularly worthwhile feature which made me expect that it would be quite a while if ever that nginx got this support.

They've definitely had feature requests logged for supporting this so I am so

[2017-01-25 18:05] louiscryan commented on #284
No documentation for Istio yet, it's pretty raw still but moving quickly, stay tuned.

@public -

re nginx - Yes, someone on my team is writing it for them
re ALB - Yeah, I've seen those, hopefully theress enough to motivate them in a reasonable timeframe

H2 support is moving forward  holistically, the pending inclusion of nghttp2 (thanks @tatsuhiro-t) into the node runtime is a good example of t

[2017-02-24 23:02] andrewwebber commented on #284
Im supprised this doesn't effect [Kubernetes Helm](https://github.com/kubernetes/helm/blob/master/docs/developers.md#grpc-and-protobuf) over complex networks

[2017-04-20 07:29] rodcloutier commented on #284
@andrewwebber It does Helm doesn't use LB and only uses K8s nodeports https://github.com/kubernetes/helm/issues/1022

[2017-04-20 09:00] andrewwebber commented on #284
@rodcloutier This does not suprise me. This makes generally making [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS) like applications very difficult.

For example imagine you wanted to inspect helm applications across kubernetes clusters/installations from an external network to build a fancy devops like dashboard giving you an overview of all your application installa

[2017-06-14 06:52] tbillington commented on #159
What is the status of this? It seems like there is an implementation here: https://github.com/improbable-eng/grpc-web.

[2017-08-04 03:05] jmreicha commented on #284
@andrewwebber You mentioned you are using Envoy.  Do you have an example configuration you can point us at?

[2017-08-04 05:54] andrewwebber commented on #284
@jmreicha

[Example comment](https://github.com/containous/traefik/issues/790#issuecomment-272603940)

[2017-08-11 22:24] dorafmon commented on #159
Any update on this?

[2017-08-12 00:44] wenbozhu commented on #159
@dorafmon  sent you an invite for grpc/grpc-web. Still early-access at this point (but used by Google's projects), and we plan to release a beta version soon (in 2-3 months).

[2017-08-12 00:44] #159 closed

[2017-08-12 00:45] thughes commented on #159
@wenbozhu Can I get an invite?

[2017-08-12 00:46] jylin commented on #159
@wenbozhu I'd be interested in an invite as well.

[2017-08-12 08:28] manifest commented on #159
@wenbozhu I'm interested in an invite too.

[2017-08-13 18:22] millisecond commented on #159
@wenbozhu would love an invite too.

[2017-08-13 19:14] acasajus commented on #159
I'd like one also if possible.

El 13 ago. 2017 20:23, "millisecond" <notifications@github.com> escribió:

[2017-08-13 20:39] dorafmon commented on #159
@wenbozhu hi thanks, but I didn't really see the invitation. Could you send it again? Thanks

[2017-08-13 21:45] dustywilson commented on #159
Many folks are going to want invitations.  Is there a chance it could be made public instead?  I certainly want to use it, even if in pre-beta stage.

[2017-08-14 09:38] Nyarum commented on #159
@wenbozhu hey, can you send invite to me too? It very interesting project I think and I'd love to help.

[2017-08-14 21:51] drather19 commented on #159
@wenbozhu would like an invite as well, thanks!

[2017-08-15 15:28] RussellLuo commented on #284
For Go, I have figured out another way to [expose gRPC services as HTTP services on the same port](https://github.com/RussellLuo/protoc-go-plugins/tree/master/examples).

[2017-08-18 00:41] hallum commented on #159
@wenbozhu Can I get an invite?

[2017-08-19 06:08] travisjeffery commented on #159
@wenbozhu I'd like an invite as well. We'd use it heavily and deploy it if there's no major problems.

[2017-08-24 04:02] bobbyrullo commented on #159
@wenbozhu same here please!  (everyone else, sorry to get you excited with another pointless invitation :) )

[2017-08-24 18:34] weitzj commented on #159
See https://docs.google.com/forms/u/0/d/15iRDHoP-VBenc4hWgKn7bk7IirJLgs0uh88nw1vi_Hc

[2017-08-25 05:16] variantf commented on #159
@wenbozhu Could you invite me as well? Thank you!!!!!

[2017-08-31 21:36] tommling commented on #159
@wenbozhu  ^^^ Ditto ^^^
Interested in that invite and happy to contribute!

[2017-08-31 21:41] glerchundi commented on #159
@wenbozhu Interested in an invite too! Thanks in advance!

[2017-09-17 17:20] ansarizafar commented on #159
@wenbozhu I'm interested in an invite too.

[2017-09-22 14:25] agonopol commented on #159
Could I get invite to grpc-web as well?

[2017-09-24 06:40] markovuksanovic commented on #159
@wenbozhu would it be possible for me to get an invite too?

[2017-09-26 18:19] jschoedt commented on #159
It looks like people are not taking the time to read through the post :-(because you can sign up here:
https://docs.google.com/forms/u/0/d/15iRDHoP-VBenc4hWgKn7bk7IirJLgs0uh88nw1vi_Hc

[2017-10-30 22:01] shanshanzhu commented on #159
How is this different from https://github.com/improbable-eng/grpc-web ?

[2018-03-02 15:47] marpaia commented on #159
@wenbozhu could I get an invite as well please?

[2018-03-11 05:22] ericbets commented on #159
This might be helpful to you folks. https://github.com/ericbets/danby

[2018-03-15 14:45] sgon00 commented on #159
@wenbozhu could I get an invite as well please?

[2018-04-23 14:42] matthijskooijman commented on #159
I believe the beta is now open and published at https://github.com/grpc/grpc-web (not 100% sure it refers to the same code, but I suspect so. Perhaps @wenbozhu can confirm?).

[2018-04-23 17:07] wenbozhu commented on #159
@matthijskooijman

Yes.

Please have all future discussion on https://github.com/grpc/grpc-web

[2019-08-19 21:03] DazWilkin opened #320 "[gdebug] Maintained? Unable to get it working"
Is this PoC tool for ChannelZ maintained?
If not, is there an alternative client for ChannelZ?

I think I had used this tool previously and was able to get it to work. So, this is likely my error.

Trying again to use it today with a new solution, I'm unable to do so. I'm not seeing any servers, channels etc. logged to the UI:

![image](https://user-images.githubusercontent.com/1022400/63298756-1e

[2019-08-19 21:55] DazWilkin opened #321 "[gdebug] Openness to some maintenance?"
The tool is potentially very useful but I suspect is underused (?) through a lack of familiarity and some complexity.

The current 'build' is slightly cumbersome and non-intuitive.

It would be useful to:

+ have a static `docker-compose.yaml`. This would be more explicit and it would e.g. enable `docker-compose ps` and `docker-compose logs ...` commands.
+ bump versions of Envoy to current and co

[2020-06-22 14:14] eddy-curv commented on #320
@DazWilkin same issue here

[2020-06-26 15:21] vmagamedov commented on #266
@ejona86 can you clarify these lines?

 Base64-encoded values.

Am I right that I can send `key-bin: Zm9v,YmFy,YmF6` metadata and the other side should treat this value as three values?
[code]